<p-dataTable class="table" [value]="DS['main'].items" selectionMode="single" [(selection)]="selectedItem"
             (onRowDblclick)="onRowSelect($event)" [responsive]="true" scrollable="true" scrollHeight="600px">

    <p-column *ngFor="let col of visibleCols" [field]="col.field" [header]="col.header"></p-column>

    <p-footer>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </p-footer>
</p-dataTable>

<p-dialog header="Информация о заказчике" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600" [contentStyle]="{'overflow':'visible'}">
    <form [formGroup]="myForm">

        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="Еitle">Название</label></div>
                <div class="ui-grid-col-8"><input pInputText id="Еitle" [(ngModel)]="item.Title" formControlName="Title" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="Status">Статус</label></div>
                <p-dropdown id="Status" [options]="listFields.Status.choices" [(ngModel)]="item.Status"
                            formControlName="Status" appendTo="body" [style]="{'width':'150px'}"></p-dropdown>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="MainItSystem">Ключевая ИТ-система</label></div>
                <div class="ui-grid-col-8"><input pInputText id="MainItSystem" [(ngModel)]="item.MainItSystem" formControlName="MainItSystem" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="BoundariesServices">Границы использования</label></div>
                <p-dropdown id="BoundariesServices" [options]="listFields.BoundariesServices.choices" [(ngModel)]="item.BoundariesServices"
                            formControlName="BoundariesServices" appendTo="body" [style]="{'width':'150px'}"></p-dropdown>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="Type">Тип услуги</label></div>
                <p-dropdown id="Type" [options]="listFields.Type.choices" [(ngModel)]="item.Type"
                            formControlName="Type" appendTo="body" [style]="{'width':'150px'}"></p-dropdown>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="FunctionalAreas">Функциональные направления</label></div>
                <p-dropdown id="FunctionalAreas" [options]="listFields.FunctionalAreas.choices" [(ngModel)]="item.FunctionalAreas"
                            formControlName="FunctionalAreas" appendTo="body" [style]="{'width':'150px'}"></p-dropdown>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ProductAreas">Продуктовые направления</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="ProductAreas" [options]="listFields.ProductAreas.choices" [(ngModel)]="item.ProductAreas"
                                formControlName="ProductAreas" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ServiceObjectKindOwnerCompany">Организация-владелец ресурса</label></div>
                <div class="ui-grid-col-8"><input pInputText id="ServiceObjectKindOwnerCompany" [(ngModel)]="item.ServiceObjectKindOwnerCompany" formControlName="ServiceObjectKindOwnerCompany" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ServiceObjectKindOwnerBranch">Обособленное подразделение</label></div>
                <div class="ui-grid-col-8"><input pInputText id="ServiceObjectKindOwnerBranch" [(ngModel)]="item.ServiceObjectKindOwnerBranch" formControlName="ServiceObjectKindOwnerBranch" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ServiceObjectKindOwnerNote">Комментарий по владельцу ресурса</label></div>
                <div class="ui-grid-col-8">
                    <textarea pInputTextarea id="ServiceObjectKindOwnerNote" [(ngModel)]="item.ServiceObjectKindOwnerNote"
                              formControlName="ServiceObjectKindOwnerNote"></textarea>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="FieldDescription">Описание площадки</label></div>
                <div class="ui-grid-col-8"><input pInputText id="FieldDescription" [(ngModel)]="item.FieldDescription" formControlName="FieldDescription" /></div>
            </div>            
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ServiceNameListId">Номенклатура услуг</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="ServiceNameListId" [options]="DS['Номенклатура услуг'].items" [(ngModel)]="item.ServiceNameListId"
                                formControlName="ServiceNameListId" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ServiceObjectKindId">Вид объекта обслуживания</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="ServiceObjectKindID" [options]="DS['Виды объектов обслуживания'].items" [(ngModel)]="item.ServiceObjectKindId"
                                formControlName="ServiceObjectKindId" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="CompanyCustomerId">Заказчик по договору</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="CompanyCustomerId" [options]="DS['Заказчики'].items" [(ngModel)]="item.CompanyCustomerId"
                                formControlName="CompanyCustomerId" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="CompanyConsumerId">Наименование Предприятия-потребителя по договору</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="CompanyConsumerId" [options]="DS['Заказчики'].items" [(ngModel)]="item.CompanyConsumerId"
                                formControlName="CompanyConsumerId" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="RegionalTechnicalCenterId">РТЦ - владелец договора</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="RegionalTechnicalCenterId" [options]="DS['Региональные технические центры'].items" [(ngModel)]="item.RegionalTechnicalCenterId"
                                formControlName="RegionalTechnicalCenterId" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>