<p-dataTable class="table" [value]="DS.main.items" selectionMode="single" [(selection)]="selectedItem"
             (onRowDblclick)="onRowSelect($event)" [responsive]="true" scrollable="true" scrollHeight="600px">

    <p-column *ngFor="let col of visibleCols" [field]="col.field" [header]="col.header"></p-column>

    <p-footer>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </p-footer>
</p-dataTable>

<p-dialog  header="Информация о заказчике" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="myForm">

        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="title">Наименование</label></div>
                <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="item.Title" formControlName="Title"/></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ACBNSI">Код Контрагента в АСВ НСИ</label></div>
                <div class="ui-grid-col-8"><input pInputText id="ACBNSI" [(ngModel)]="item.ACBNSI" formControlName="ACBNSI"/></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ESUID">Код Контрагента ЕСУИД</label></div>
                <div class="ui-grid-col-8"><input pInputText id="ESUID" [(ngModel)]="item.ESUID" formControlName="ESUID"/></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="Test">Test</label></div>
                <p-dropdown id="Test" [options]="listFields.Test.choices" [(ngModel)]="item.Test"
                            formControlName="Test" appendTo="body" [style]="{'width':'200px'}"></p-dropdown>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>