<p-dataTable class="table" [value]="DS.main.items" selectionMode="single" [(selection)]="selectedItem"
             (onRowDblclick)="onRowSelect($event)" [responsive]="true" scrollable="true" scrollHeight="600px">

    <p-column *ngFor="let col of visibleCols" [field]="col.field" [header]="col.header"></p-column>

    <p-footer>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </p-footer>
</p-dataTable>

<p-dialog  header="Информация о субподрядах РТК" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="sub">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="Title">Название</label></div>
            <div class="ui-grid-col-8"><input pInputText id="Title" [(ngModel)]="sub.Title" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="ComputedTechnologicalMap">РТК</label></div>
            <div class="ui-grid-col-8"><input pInputText id="ComputedTechnologicalMap" [(ngModel)]="sub.ComputedTechnologicalMap" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="Operations">Операция РТК</label></div>
            <div class="ui-grid-col-8"><input pInputText id="Operations" [(ngModel)]="sub.Operations" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="Cost">Итого стоимость</label></div>
            <div class="ui-grid-col-8"><input pInputText id="Cost" [(ngModel)]="sub.Cost" /></div>
        </div>
  
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>