<p-dataTable class="table" [value]="DS['main'].items" selectionMode="single" [(selection)]="selectedItem"
             (onRowDblclick)="onRowSelect($event)" [responsive]="true" scrollable="true" scrollHeight="600px">

    <p-column *ngFor="let col of visibleCols" [field]="col.field" [header]="col.header"></p-column>

    <p-footer>
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </p-footer>
</p-dataTable>

<p-dialog header="Информация о заказчике" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="myForm">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="title">Наименование</label></div>
                <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="item.Title" formControlName="Title" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ProductNumber">Product Number</label></div>
                <div class="ui-grid-col-8"><input pInputText id="ProductNumber" [(ngModel)]="item.ProductNumber" formControlName="ProductNumber" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="OrderDate">Order Date</label></div>
                <div class="ui-grid-col-8"><input pInputText id="OrderDate" [(ngModel)]="item.OrderDate" formControlName="OrderDate" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="OrderAmount">Order Amount</label></div>
                <div class="ui-grid-col-8"><input pInputText id="OrderAmount" [(ngModel)]="item.OrderAmount" formControlName="OrderAmount" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="ChoiceTest">Choice Test</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="ChoiceTest" [options]="listFields.ChoiceTest.choices" [(ngModel)]="item.ChoiceTest"
                                formControlName="ChoiceTest" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="LookupTest">Lookup Test</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown id="LookupTest" [options]="DS['Employee'].items" [(ngModel)]="item.LookupTest"
                                formControlName="LookupTest" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>